*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(145, 222, 153);
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(72, 122, 124);
    height: 100px;
    letter-spacing: 2px;
    color: white;
}

main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(145, 222, 222);
    height: 100vh;
}

.studing {
    margin-bottom: 30px;
    padding-top: 40px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background: #9c0b0b;
    padding: 20px 140px;
    letter-spacing: 3px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #0000004b;
}

a:hover {
    font-weight: 400;
    background: #dd0a0a;
}


/* MEDIA QUERY 450PX */

@media screen  and (max-width: 450px) {

    h1 {
        font-size: 30px;
        color: white;
        letter-spacing: 1px;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/* MEDIA QUERY 450PX */

main {
    padding-top: -50px;
}

@media screen  and (max-width: 450px) {

    a {
        padding: 15px 120px;
    }
}